<div class="container">
    <h1 class="text-center">These are your course</h1>

    <div class="row" style="height: 200px;">
        <div class="col">
            <div class="card my-3 shadow text-center">
                <div class="card-header">
                    <h4>HTML</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card my-3 shadow text-center">
                <div class="card-header">
                    <h4>CSS</h4>
                </div>
            </div>
        </div>
    </div>

    <div class="row" style="height: 200px;">
        <div class="col">
            <div class="card my-3 shadow text-center">
                <div class="card-header">
                    <h4>JAVASCRIPT</h4>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card my-3 shadow text-center">
                <div class="card-header">
                    <h4>BOOTSTRAP</h4>
                </div>
            </div>
        </div>
    </div>
</div>